.buttonPrimary {
    background-color: #135aac !important;
    border-color: #135aac !important;
}

.buttonPrimary:hover {
    background-color: #2775cf !important;
    border-color: #2775cf !important;
}
