* {
    overflow: hidden;
    font-family: "Roboto", sans-serif !important;
}

.wallpaperCol {
    background-image: url('./images/background.jpeg');
    background-repeat: no-repeat;
    background-position: center right;
    background-size: cover;
    background-size: 100%;
    background-color:#000;
    height: 100vh;
    width: 100vw;
    padding: 0px;
    margin: 0px;
}


.pCustom {
    padding-left: 5vw !important;
    padding-right: 5vw !important;
}